.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
bin/
**/.DS_Store
gf
main
main.exe
main.exe*
output/
manifest/output/
temp/
temp.yaml
bin
internal/packed/packed.go
internal/packed/build_pack_data.go
/logs/
**/*.log
.init.lock

/resource/public/admin/
/resource/public/uploads/image/
/resource/public/uploads/text/
/resource/public/uploads/zip/
/resource/public/uploads/audio/
/resource/public/uploads/video/
/resource/public/uploads/other/
/resource/runtime/network
/resource/runtime/generate

**/node_modules
**/dist
**/dist-ssr
*.local
**/.env

manifest/config/config.yaml
hack/config.yaml